<div class="row">
    <div class="col-xs-2 col-md-1">
        <img ng-src="{{reply.author.avatar}}" class="img-circle img-responsive" alt="author avatar" /></div>
    <div class="col-xs-10 col-md-11">
        <div>
            <a href="#" ng-bind="reply.title"></a>
            <div class="mic-info">
                By: <a href="#" ng-bind="reply.author.name"></a> on <span ng-bind="formatDate(reply.postDate)"></span> <span ng-show="reply.editDate"> | edited on <span ng-bind="formatDate(reply.editDate)"></span></span>
            </div>
        </div>
        <div class="reply-text" btf-markdown="reply.body"></div>
        <div class="action">
            <button type="button" ng-show="canEdit(reply)" class="btn btn-primary btn-xs" title="Edit" ng-click="toggleEditReply(reply)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" ng-show="canEdit(reply)" class="btn btn-danger btn-xs" title="Delete" ng-click="deleteReply($parent.comment, reply)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
</div>